.benefits--size {
  margin-left: auto;
  margin-right: auto;

}
@media screen and (min-width: 480px) {
  .benefits--size {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits--size {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .benefits--size .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .benefits__item {
    max-width: 450px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
.benefits__visual {
  display: flex;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-backgrd-color);
}
.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
}
