.clients--size {
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (min-width: 768px) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

@media screen and (min-width: 1200px) {
  .clients--size {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients .clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients .clients__title {
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);
  height: auto;
  // max-width: 210px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    // max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 12 * 15px) / 6);
    max-width: 170px;
  }
}
.clients__title {
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__link {
  border-radius: 4px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
