.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 9;
  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: calc(50% + 7px);
  left: 15px;
  transform: translateY(-50%);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__field input::placeholder {
  display: flex;
  align-items: left;
}

.form__field input {
  height: 40px;
  padding-left: 42px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: 370px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__name {
  margin-bottom: 4px;
}

.form__input:focus {
  outline: transparent;
}

textarea {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
  width: 370px;
  height: 120px;
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
textarea:focus {
  outline: transparent;
}
.agreement__input {
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    margin-left: 14px;
  }
}
.agreement__input:checked + .agreement__icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.agreement {
  display: flex;
  align-items: center;
  margin-top: 20px;
  }
.agreement__policy {
  padding-left: 5px;
}
.form__submit-btn {
  position: relative;
  display: inline-flex;
  border: none;
  margin-top: 30px;
  padding: 10px 52px 10px 52px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  color: var(--btn-accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 55%;
  left: 49%;
  padding: 40px;
  height: 609px;
  width: 450px;
  border-radius: 4px;
  overflow: auto;
  


  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 79%;
    left: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    top: 116%;
    left: 50%;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
