.hero {
  min-width: 240px;
  max-width: 1600px;
  height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__btn {
  border-radius: 4px;
  border: solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
