.menu-toggle {
    display: inline-flex;
    margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: auto;
  }
  
  .menu-toggle:hover {
    cursor: pointer;
  }
  
  .menu-toggle:focus {
    outline: none;
  }
  
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
   .menu-toggle .icon-cross {
    display: none;
  }
  
  .menu-toggle.is-open .icon-cross {
    display: block;
  }
  
  .menu-toggle.is-open .icon-menu {
    display: none;
  }