.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-main-color);
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  >.conteiner {
    overflow: auto;
  }

  @media screen and (min-width:768px) {
  display: none;
  }
}
.menu-close-btn {
  display: block;
  min-height: 40px;
  min-width: 40px;
  margin-left: auto;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: none;
  outline: none;
}

.icon-cross {
  .menu-close-btn:hover &,
  .menu-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.mob-menu-nav {
  margin-bottom: 302px;
}
.menu_list {
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--mob-menu-text);
}
.menu__link.menu__link--active::after {
  background-color: var(--accent-color);
}
.menu__link--active {
  color: var(--accent-color);
}
.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__item {
}
.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect__mail {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.mob-soc {
  display: flex;
}

.mob-soc__item {
  padding-left: 10px;
  padding-right: 10px;
}
.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: none;
  outline: none;
  @media screen and (min-width:768px) {
    display: none;
    }
}
.icon-menu {
  .menu-open-btn:hover &,
  .menu-open-btn:focus & {
    fill: var(--accent-color);
  }
}

// .menu-container {
//   // display: none;
//   // z-index: 555555;
//   background-color: var(--header-main-color);
//   font-family: Roboto, sans-serif;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;

//   &.is-open {
//     display: block;
//   }
// }

// @media screen and (max-width: 767px) {
//   .menu-container {
//     display: none;
//     position: absolute;
//     top: 100%;
//     width: 100%;
//     height: 393px;
//     text-align: center;
//   }
// }

// @media screen and (min-width: 768px) {
//   .menu-container {
//         display: flex;
//         justify-content: space-between;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     width: 100%;
//     align-items: center;
//   }
// }

// .menu-container.is-open {
//   display: block;
//   text-align: center;
//   z-index: 3;
// }

// .menu-toggle {
//   min-height: 40px;
//   min-width: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   border-radius: none;
//   outline: none;

// }

// @media (min-width: 768px) {
//   .menu-toggle {
//     display: none;
//   }
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: var(--header-main-color);
//   }

// .menu-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   padding: 32px;
//   background-color: var(--header-main-color);
//   z-index: 9999999;

//   transform: translateX(100%);
//   transition: transform 250ms ease-in-out;
// }

// .menu-container.is-open {
//   transform: translateX(0);
// }

// .menu-container .menu-toggle {
//   position: absolute;
//   top: 16px;
//   right: 16px;
//   color: #fff;
// }

// .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: var(--main-font-color);
//   text-decoration: none;
// }
