.menu-container {
  display: none;
  z-index: 555555;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  
  &.is-open {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 393px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
        display: flex;
        justify-content: space-between;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: 100%;
    align-items: center;
  }
}

.menu-container.is-open {
  display: block;
}

// .menu-toggle {
//   min-height: 40px;
//   min-width: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   border-radius: none;
//   outline: none;
 
// }

// @media (min-width: 768px) {
//   .menu-toggle {
//     display: none;
//   }
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: var(--header-main-color);
//   }

// .menu-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   padding: 32px;
//   background-color: var(--header-main-color);
//   z-index: 999;

//   transform: translateX(100%);
//   transition: transform 250ms ease-in-out;
// }

// .menu-container.is-open {
//   transform: translateX(0);
// }

// .menu-container .menu-toggle {
//   position: absolute;
//   top: 16px;
//   right: 16px;
//   color: #fff;
// }

// .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: var(--main-font-color);
//   text-decoration: none;
// }