.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .mob-container {
    width: 100%;
    height: 100%;
     @media screen and (min-width:480px) {
      width: 480px;
    }
  }
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-main-color);
    width: 100%;
    height: 100vh;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    >.mob-container {
      overflow: auto;
    }
    @media screen and (min-width:768px) {
    display: none;
    }
  }
  .menu-close-btn {
    display: block;
    min-height: 40px;
    min-width: 40px;
    margin-left: auto;
  
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: none;
    outline: none;
  }
  
  .icon-cross {
    .menu-close-btn:hover &,
    .menu-close-btn:focus & {
      fill: var(--accent-color);
    }
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .mob-menu-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    }
    .link-block {
      margin-bottom: auto;
    }
    
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--mob-menu-text);
  }
  .menu__link.menu__link--active::after {
    background-color: var(--accent-color);
  }
  .menu__link--active {
    color: var(--accent-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-connect {
    margin-bottom: 64px;
  }
  
  .mob-connect__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mob-connect__mail {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
  }
  
  .mob-soc {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mob-soc__item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mob-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mob-soc__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-open-btn {
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: none;
    outline: none;
    @media screen and (min-width:768px) {
      display: none;
      }
  }
  .icon-menu {
    .menu-open-btn:hover &,
    .menu-open-btn:focus & {
      fill: var(--accent-color);
    }
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }