.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
  }
}
.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
}


@media screen and (min-width: 1200px) {
  .header-list .header-list__item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-list__link {
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-list__link.header-list__link--active::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    transform: translateY(32px);
  }
}
.contact-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list {
  display: block;
  margin-left: auto;
}
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
}
}

@media screen and (min-width: 1200px) {
  .contact-list .contact-list__item + .contact-list__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__mail,
  .contact-list__tel {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}
