.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
  }
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.header-list .header-list__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list__link {
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__link.header-list__link--active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  transform: translateY(32px);
}
.contact-list {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 720px) {
    display: none;
  }
}
.contact-list .contact-list__item + .contact-list__item {
  margin-left: 50px;
}
.contact-list__mail,
.contact-list__tel {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__icon {
  margin-right: 10px;
}
