.team--size {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .team__title {
    margin-bottom: 30px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    .team__title {
      margin-bottom: 50px;
    }
  }
  .team__list {
    display: block;
  }
  @media screen and (min-width: 768px) {
    .team__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  .team__item {
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;
  }
  
  @media screen and (max-width: 767px) {
    .team__item {
      width: 100%;
    }
    .team__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .team__item {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .team__item {
      flex-basis: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }
  
  .soc-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .team__members {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team__employee {
    margin-bottom: 10px;
    text-align: center;
  }
  .team__jobtitle {
    text-align: center;
    margin-bottom: 16px;
  }