:root {
  --main-page-tle-color: #f5f5f5;
  --main-font-color: #212121;
  --accent-color: #2196f3;
  --contacts-color: #757575;
  --benefits-text-color: #757575;
  --header-main-color: #ffffff;
  --btn-accent-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-backgrd-color: #2f303a;
  --team-backgrd-color: #f5f4fa;
  --main-sprite-color: #afb1b8;
  --portfolio-border: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  background-color: var(--header-main-color);
}
.header {
  background-color: var(--header-main-color);
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo__header {
  color: var(--main-font-color);
}
.icon-menu {
  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: var(--accent-color);
  }
}
.icon-cross {
  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: var(--accent-color);
  }
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-list__link.header-list__link--active::after {
  background-color: var(--accent-color);
}
.header-list__link--active {
  color: var(--accent-color);
}
.contact-list__mail,
.contact-list__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-list__icon {
  fill: currentColor;
}
.hero {
  background-color: var(--hero-background-color);
  
  @media screen and (max-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-480/hero-img.jpg);
  }

  @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 768px) and (min-resolution: 192dpi),
    screen and (max-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-480/hero-img@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-768/hero-img.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-768/hero-img@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-1200/hero-img.jpg);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)), url(../images/hero_img/hero-1200/hero-img@2x.jpg);
  }
     }
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }

}
.hero__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-accent-color);
  background: var(--accent-color);

  &:hover {
    color: var(--main-font-color);
    background-color: var(--accent-color);
  }
  &:focus {
    color: var(--main-font-color);
  }
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.form__icon {
  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  color: var(--accent-color);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
}
.form__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__field input {
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.form__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  fill: currentColor;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.agreement__icon {
  border: 2px solid #212121;
}
.agreement__input:checked + .agreement__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.agreement__policy {
  color: var(--accent-color);
}
.form__submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  color: var(--btn-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover {
    color: var(--main-font-color);
    background-color: #188ce8;
  }
  &:focus {
    color: var(--main-font-color);
  }
}
.modal {
  background-color: var(--header-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--header-main-color);
}
.close-btn__icon {
  .close-btn:hover &,
  .close-btn:focus & {
    fill: var(--accent-color);
  }
}
.mission {
  background-color: var(--header-main-color);
}
.mission__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-font-color);
}
.mission__label {
  background: rgba(47, 48, 58, 0.8);
}
.mission__text {
  color: var(--header-main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.benefits {
  background-color: var(--header-main-color);
}
.benefits__visual {
  background-color: var(--team-backgrd-color);
}
.benefits__icon {
  background-color: var(--team-backgrd-color);
}
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-font-color);
}
.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--benefits-text-color);
}
.team {
  background-color: var(--team-backgrd-color);
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-font-color);
}
@media scree and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.18;
  }
}
.team__item {
  background-color: var(--header-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.soc-list__link {
  background-color: var(--header-main-color);
  color: var(--main-sprite-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--btn-accent-color);
  }
}
.soc-list__icon {
  fill: currentColor;
}
.team__employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-font-color);
}
.team__jobtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--benefits-text-color);
}

.clients {
  background-color: var(--header-main-color);
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--main-font-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.clients__item {
  background-color: var(--header-main-color);
}
.clients__link {
  border: 1px solid var(--main-sprite-color);
  background-color: var(--header-main-color);
  color: var(--main-sprite-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
.logo__footer {
  color: var(--btn-accent-color);
}
.contacts__address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-main-color);
}
footer {
  background-color: var(--footer-backgrd-color);
}
.contacts__mail,
.contacts__tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.join__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--btn-accent-color);
}
.join__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--btn-accent-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--btn-accent-color);
  }
}
.join__icon {
  fill: currentColor;
}
.subs-mail__tittle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--btn-accent-color);
}

.subs-mail__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subs-mail__field input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-backgrd-color);
  color: var(--btn-accent-color);
}
.subs-mail__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--btn-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    color: var(--main-font-color);
  }
}
.subs-mail__icon {
  fill: currentColor;
  .subs-mail__btn:hover & {
    color: var(--main-font-color);
    background-color: var(--accent-color);
  }
  .subs-mail__btn:focus & {
    color: var(--main-font-color);
  }
}
.portfolio {
  background-color: var(--header-main-color);
}
.filter-list__btn {
  background-color: var(--team-backgrd-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;

  &:hover,
  &:focus {
    color: var(--btn-accent-color);
    background-color: var(--accent-color);
  }
}
.portfolio-list__projects {
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}
.portfolio-list__item {
  background-color: var(--header-main-color);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-list__meta {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--btn-accent-color);
}
.portfolio-list__overlay {
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-list__projects {
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}
.portfolio-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}
.portfolio-list__worktitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts-color);
}
